.category-card-1 {
    border: 1px solid black;
    background-color: rgb(250, 224, 224);
    background: linear-gradient(135deg, #6f84eb, #dfc0ae);
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.category-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-image img {
    max-width: 100%;
    max-height: 150px;
    object-fit: cover;
}

.category-content {
    padding: 10px;
    text-align: center;
}

.category-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #4c95ed;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #dc6442;
}