@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@200;300;400;500;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
 */

.product-link {
    text-decoration: none !important;
    color: #000 !important;
}